# Core functionality - changes here should be rare!
/src/app.py                   @alexehaywood
/src/backend/database.py      @alexehaywood
/src/backend/routers/auth.py  @alexehaywood

# The frontend will need refactored soon to be more object oriented.
/src/static/   @alexehaywood
